# scvi-tools
anndata
docrep>=0.3.2
flax
jax
jaxlib
lightning>=2.0
ml-collections>=0.1.1
mudata>=0.1.2
numpy<2.0
numpyro>=0.12.1
pandas
pyro-ppl>=1.6.0
optax
rich>=12.0.0
scikit-learn>=0.21.2
scipy
sparse>=0.14.0
tensorboard>=2.0
torch
torchmetrics>=0.11.0
tqdm
xarray>=2023.2.0
scanpy>=1.6
muon
seaborn